node_modules
.env*
!.env*sample
logs
src/logs
.npmrc
**/logs/
src/tests/mocks/consent-agent.config.json
cca.iml

src/mochawesome-report/
src/mochawesome-report
**/mochawesome-report/
**/mochawesome-report
